td {
    border: 4px solid black;
    height: 100px;
    width: 100px;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

.top td{
    border-top: none;
}

.bottom td {
    border-bottom: none;
}
