:root {
    --mainColor: rgba(169, 111, 228);
    --lightColor: rgba(169, 111, 228, 0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* justify-content: space-around; */
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #fff;
    background-color: var(--mainColor);
}

header {
    padding-left: 15px;
    box-shadow: 1px 1px 3px 1px #c2b8b8;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;
}

h2 {
    width: 100vw;
    text-align: center;
    padding: 10px;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 100px;
    height: 200px;
    width: 200px;
}

#gameboard {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.top{
    border-top: 3px solid var(--mainColor);
}

.right{
    border-right: 3px solid var(--mainColor);

}

.bottom{
    border-bottom: 3px solid var(--mainColor);

}

.left{
    border-left: 3px solid var(--mainColor);
}

button {
    border: 10px solid var(--mainColor);
    padding: 10px 20px;
    font-size: 25px;
    margin-top: 45px;
    cursor: pointer;
}

button:hover {
    background-color: var(--mainColor);
    color: #fff;
}